@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');
/*font-family: 'Quicksand', sans-serif;*/
/*headings*/

@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');
/*font-family: 'Roboto Condensed', sans-serif;*/
/*normale tekst*/


/*Rood #dd3038;*/
/*Oranje #e7613a;*/
/*Licht oranje #FDF4F2;*/
/*Zwart #292929 (voor standaard tekst);*/
/*Wit #FFFFFF;*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h2,h2,h3,h4{
    font-family: 'Quicksand', sans-serif;

}
p{
    font-family: 'Roboto Condensed', sans-serif;
}

.nav-outer-container {

    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 1500px;
    margin: 30px;

}

.nav-inner-container {
    list-style-type: none;
    display: flex;
    /*justify-content: space-evenly;*/
    /*width: 400px;*/
    gap: 2em;
    font-size: small;
    color: #FFFFFF;
}

footer {
    padding: 10px;
    background-color: #292929;
    color: #FFFFFF;
    text-align: center;
}

.footer-par {
    font-size: 10px;
    color: #FFFFFF;
}